* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: antiquewhite;
}
h1 {
    color: coral;
    text-align: center;
    margin: 16px auto;
}
li {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}
a {
    color: darkgreen;
    text-decoration: solid;
}
img {
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 16px auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}